


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px; overflow-x: auto;">
    <div class="card-body">
        <h1> Bienvenue🖐️🖐️ à l'Espace de Participant 👨‍🎓👩‍🎓</h1>
        <div class="table-responsive">
            <table class="table table-striped"  width="50%" >
                <thead>
                    <tr>
                      
                        <th>id</th>
                        <th>Nom du Participant </th>
                        <th>numéro de Cin </th>
                      
                        <th>théme de formation</th>
                        <th>Période</th>
                        <th>Horaire</th>
                        
                    </tr>
                </thead>
           
                <tbody>
                    <tr *ngIf="utilisateur">
                    <th>{{utilisateur.id}}</th>
                    <th>{{utilisateur. nom_AR}} {{utilisateur.prenom}}</th>
                    
                    <th>{{utilisateur.num_cin}}</th>
            
                    <th>{{utilisateur.theme_formation}}</th>
                    <th>{{utilisateur.Periode}}</th>
                    <th>{{utilisateur.Horaire}}</th>
<th><a (click)="go('/downloadfile')" href="javascript:void(0)" style="float: right;" class="btn btn-primary">Consulter les cours</a></th>
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </div>


    <footer class="w3-container w3-blue w3-center w3-padding">
        <p>© 2024 Centre National d'informatique . Tous droits réservés.</p>
    </footer>
</div>
