<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="admin/allformations">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Administrateur </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
     
        <!-- Divider -->
        <hr class="sidebar-divider">

     
        <!-- Nav Item - Pages Collapse Menu -->
        

       
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

       

        <!-- Nav Item - Charts -->
       


        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" (click)="go('admin/allformations')"  href="javascript:void(0)">
                <i class="fas fa-fw fa-table"></i>
                <span>Formations</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="go('admin/addformation')" href="javascript:void(0)">
                <i class="fas fa-fw fa-table"></i>
                <span>ajouter Formations</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="go('admin/allformateurs')" href="javascript:void(0)">
                <i class="fas fa-fw fa-table"></i>
                <span>Formateurs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="go('admin/allparticipants')"  href="javascript:void(0)">
                <i class="fas fa-fw fa-table"></i>
                <span>Participants</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="go('admin/download')"  href="javascript:void(0)">
                <i class="fas fa-fw fa-table"></i>
                <span>Cours</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="go('admin/quiz/questions')"  href="javascript:void(0)">
                <i class="fas fa-fw fa-table"></i>
                <span>Questions</span></a>
        </li>
        
        <li class="nav-item active">
            <a class="nav-link" href="/loginuser">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>se Deconnecté</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
<router-outlet/>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>