<div class="container">
  <h2>Modifier la formation</h2>
  <form [formGroup]="formationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="num_salle">Numéro de salle</label>
      <input type="text" id="num_salle" formControlName="num_salle" class="form-control">
    </div>
    <div class="form-group">
      <label for="lieu_formation">Lieu de formation</label>
      <input type="text" id="lieu_formation" formControlName="lieu_formation" class="form-control">
    </div>
    <div class="form-group">
      <label for="mode_formation">Mode de formation</label>
      <input type="text" id="mode_formation" formControlName="mode_formation" class="form-control">
    </div>
    <div class="form-group">
      <label for="theme_formation">Thème de la formation</label>
      <input type="text" id="theme_formation" formControlName="theme_formation" class="form-control">
    </div>
    <div class="form-group">
      <label for="gouvernorat">Gouvernorat</label>
      <input type="text" id="gouvernorat" formControlName="gouvernorat" class="form-control">
    </div>
    <div class="form-group">
      <label for="entreprise">Entreprise</label>
      <input type="text" id="entreprise" formControlName="entreprise" class="form-control">
    </div>
    <div class="form-group">
      <label for="credit_Impot">Crédit Impôt</label>
      <input type="text" id="credit_Impot" formControlName="credit_Impot" class="form-control">
    </div>
    <div class="form-group">
      <label for="periode">Période</label>
      <input type="text" id="periode" formControlName="periode" class="form-control">
    </div>
    <div class="form-group">
      <label for="horaire">Horaire</label>
      <input type="text" id="horaire" formControlName="horaire" class="form-control">
    </div>
    <div class="form-group">
      <label for="droit_tirage_collectif">Droit de tirage collectif</label>
      <input type="text" id="droit_tirage_collectif" formControlName="droit_tirage_collectif" class="form-control">
    </div>
    <div class="form-group">
      <label for="droit_tirage_individuel">Droit de tirage individuel</label>
      <input type="text" id="droit_tirage_individuel" formControlName="droit_tirage_individuel" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formationForm.invalid">Enregistrer</button>
  </form>
</div>
