
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px; overflow-x: auto;">
  
<div class="container-fluid">

 

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <h1> Bienvenue🖐️🖐️ à l'Espace dédier pour consulter cours  👨‍🎓👩‍🎓</h1>
          
            <div class="table-responsive">
                <table  class="table table-striped"  width="50%">
                    <thead>
                        <tr>
                          
                            <th>id</th>
                            <th>Nom dufichier</th>
                           
                          
                            <th>nom du cours </th>
                            <th>nom du formateur </th>
                            <th>Action</th>
                         
                        </tr>
                    </thead>
                   
                <tbody >
                    <tr *ngFor="let item of listcours" >
                    <th>{{item.id}}</th>
                    <th>{{item.nom_fichier}}</th>
                    <th>{{item.code_cours}}</th>
                        <th>{{item.utilisateur.nom +" "+ item.utilisateur.prenom }}</th>
                    <td>
                        <a href="/dow"  (click)="deleteFile(item.id)" style="float: right;" class="btn btn-danger">Supprimer</a>
                    <td> <button (click)="downloadfile(item.id,item.nom_fichier)" style="float: right;" class="btn btn-primary" >Télecharger fichier</button></td>
                    
                </tr>
             
                   

                 
                 
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="w3-container w3-blue w3-center w3-padding">
        <p>© 2024 Centre National d'informatique . Tous droits réservés.</p>
    </footer>
</div>